  .hero {
    background: url('../images/header2.jpg') no-repeat center center;
    background-size: cover;
    height: 500px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: relative;
  }
  .hero h1 {
    font-size: 3em;
    margin: 0;
  }
  .hero p {
    font-size: 1.2em;
  }
  .hero::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .hero * {
    position: relative;
  }

.img-container {
  width: 500px;  /* Set the desired width */
  height: 500px; /* Set the desired height */
  overflow: hidden; /* Hide any overflow from the image */
  display: flex;
  justify-content: center;
  object-fit: cover; /* Options: fill, contain, cover, scale-down, none */
}

/* Style the signature container */
.signature {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-family: 'Cursive', sans-serif; /* Example font for a personal touch */
  color: #333; /* Text color */
}

/* Style for the text container */
.signature-text {
  display: flex;
  flex-direction: column;
}

/* Style for the name */
.name {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

/* Style for the title */
.title {
  font-size: 0.7em;
  color: #777; /* Subtle color for the title */
  margin: 0;
}
