body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.section {
    position: relative;
    overflow: hidden;
}

.image-container {
    position: relative;
    height: 100vh; /* Adjust height as needed */
    background: url('../images/image5.jpg') no-repeat center center/cover;
}

.background-image {
    display: none; /* Hide the background image tag since we use it as background in the container */
}

.overlay-image {
    position: absolute;
    width: 150px; /* Adjust width as needed */
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100vh - 150px); /* Adjust this value based on the height of the image to position it half on the background and half on the content */
    z-index: 10;
}

.intro-section {
    background-color: #fff;
    padding: 20px;
    position: relative;
    z-index: 0;
    text-align: center;
}

.intro-card {
    margin-top: 150px; /* Add margin to push content below the overlay image */
}

.intro-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    margin: 10px 0;
}

.service-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.service-button:hover {
    background-color: #0056b3;
}
